# Example of a `.gitattributes` file which reclassifies `.cs` files as C#:
*.cs linguist-language=C#


*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false



