
@{
    ViewBag.PageName = "User";
    Layout = "_LayoutUser";
}

<style>
    .croppie-container {
        width: 100%;
        height: 80%;
    }
</style>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload & Set Profile Photo</h3>
    </div>
    <div class="card-body">
        <div class="col-md-5">
            <div id="main-cropper"></div>
            <input type="file" id="select" class="form-control" value="Choose Image" accept="image/*">
            <button id="btnupload" style="margin-top: 10px;" name="btnupload" class="btn btn-success">Crop Profile Photo</button>
        </div>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>

    <script type="text/javascript">

        //initialize Croppie
        var basic = $('#main-cropper').croppie
        ({
            viewport: { width: 250, height: 250 },
            boundary: { width: 400, height: 300 },
            showZoomer: true,
            url: '/DefaultImages/preview.jpg',
            format: 'png' //'jpeg'|'png'|'webp'
        });


        //Reading the contents of the specified Blob or File
        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#main-cropper').croppie('bind',
                        {
                            url: e.target.result
                        });
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Change Event to Read file content from File input
        $('#select').on('change', function() { readFile(this); });


        // Upload button to Post Cropped Image to Store.
        $('#btnupload').on('click',
            function() {
                if ($("#select").val() == "") {
                    $.alert('Please Choose Profile Photo to Crop');
                } else
                {
                    basic.croppie('result', 'blob').then(function(blob) {
                        var formData = new FormData();

                        formData.append('filename', 'FileName.png');
                        formData.append('blob', blob);
                        var myAppUrlSettings =
                        {
                            MyUsefulUrl: '@Url.Action("Upload", "UserProfile")'
                        }

                        var request = new XMLHttpRequest();
                        request.open('POST', myAppUrlSettings.MyUsefulUrl);
                        request.send(formData);
                        request.onreadystatechange = function() { // Call a function when the state changes.
                            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                                var response = JSON.parse(request.responseText);

                                if (response.Message == "OK") {
                                    alert('Photo Cropped Successfully!');
                                    window.location.href = "/UserProfile/MyProfile";
                                }

                                if (response.Message == "ERROR") {
                                    window.location.reload();
                                }
                            }
                        }
                    });
                }

            });

    </script>
}
