@model Frapper.ViewModel.Notices.CreateNoticeViewModel
@{
    ViewBag.PageName = "Notice";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<form asp-controller="Notice" asp-antiforgery="true" asp-action="Create" method="post">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add</h3>
        </div>
        <div class="card-body register-card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="NoticeTitle"></label>
                    <input asp-for="NoticeTitle" placeholder="Enter FullName" class="form-control" />
                    <span class="text-danger" asp-validation-for="NoticeTitle"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="NoticeStart"></label>
                    <input asp-for="NoticeStart" placeholder="Enter Notice Start Date" class="form-control" />
                    <span class="text-danger" asp-validation-for="NoticeStart"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="NoticeEnd"></label>
                    <input asp-for="NoticeEnd" placeholder="Enter Notice End Date " class="form-control" />
                    <span class="text-danger" asp-validation-for="NoticeEnd"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="NoticeBody"></label>
                    <textarea asp-for="NoticeBody" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="NoticeBody"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" id="btnsubmit" name="btnsubmit" type="submit"> Save</button>
            <a asp-area="Administration" class="btn btn-danger" asp-controller="Notice" asp-action="Create">Clear</a>
            <a asp-area="Administration" class="btn btn-primary" asp-controller="Notice" asp-action="Index">List</a>
        </div>
    </div>
</form>








@section scripts{
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <script>


        $(document).ready(function () {

            var startDateTextBox = $('#NoticeStart');
            var endDateTextBox = $('#NoticeEnd');

            startDateTextBox.daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                minDate: moment(),
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss'
                }
            });

            startDateTextBox.on('apply.daterangepicker', function (ev, picker) {

                endDateTextBox.daterangepicker({
                    timePicker: true,
                    singleDatePicker: true,
                    minDate: picker.endDate.format('YYYY-MM-DD HH:mm:ss'),
                    locale: {
                        format: 'YYYY-MM-DD HH:mm:ss'
                    }
                });

                $('#NoticeEnd').val('');
                $('#NoticeEnd').data('daterangepicker').setStartDate(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
            });

        });

        CKEDITOR.replace('NoticeBody',
            {
                on :
                {
                    instanceReady : function( ev )
                    {
                        this.dataProcessor.writer.setRules( '*',
                            {
                                indent : false,
                                breakBeforeOpen: false,
                                breakAfterOpen : false,
                                breakBeforeClose : false,
                                breakAfterClose: false
                            });
                    }
                }
            });


        CKEDITOR.editorConfig = function (config) {
            config.autoParagraph = false;
            config.fullPage = true;
            config.allowedContent = true;
            config.ignoreEmptyParagraph = true;
            config.tabSpaces = 0;
            config.forcePasteAsPlainText = true;
            config.enterMode = CKEDITOR.ENTER_DIV;
            config.basicEntities = false;
        };

      


    </script>

}

