.modal {
    /* display: none; */ /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 16%;
    overflow: hidden;
}

.center {
    z-index: 1000;
    margin: 250px auto;
    padding: 10px;
    width: 220px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.span-loader {
    font-size: 120%;
    font-family: verdana;
    text-align: center;
}