@model Frapper.ViewModel.Login.ChangePasswordViewModel
@{
    ViewBag.PageName = "User";
    Layout = "_LayoutUser";
}

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Change Password</h3>
        </div>
        <div class="card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

            <form asp-controller="UserDashboard" asp-antiforgery="true" id="Resetform" asp-action="Changepassword" method="post">
                <div class="form-group mb-3">
                    <input type="password" asp-for="CurrentPassword" placeholder="Enter Current Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="password" asp-for="Password" placeholder="Enter Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="password" asp-for="ConfirmPassword" placeholder="Enter Confirm Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" id="btnsubmit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>

</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/sha512.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                if ($('#Password').val() != "" && $('#ConfirmPassword').val() != "" && $('#CurrentPassword').val() != "") {

                    if (validatePassword($('#Password').val()) == false)
                    {
                        alert('New Password Must Have Minimum 7 characters at least 1 Alphabet, 1 Number and 1 Special Character !');
                        return false;
                    }
                    else {
                        var password = $('#Password').val();
                        var passwordhash = sha512(password);

                        var confirmpassword = $('#ConfirmPassword').val();
                        var confirmpasswordhash = sha512(confirmpassword);

                        var currentpassword = $('#CurrentPassword').val();
                        var currentpasswordhash = sha512(currentpassword);

                        $('#CurrentPassword').val(currentpasswordhash);
                        $('#Password').val(passwordhash);
                        $('#ConfirmPassword').val(confirmpasswordhash);
                        $("#Resetform").submit();
                    }


                }


            });

            $("#Password").blur(function (event)
            {
                if ($("#Password").val()!="") {
                    if (validatePassword($("#Password").val()) == false) {
                        alert('New Password Must Have Minimum 7 characters at least 1 Alphabet, 1 Number and 1 Special Character !');
                        $("#Password").val('');
                    }

                    var data = $("#Password").val().length;
                    if (data > 20) {
                        alert('Maximum 20 character password is Allowed!');
                        $("#Password").val('');
                    }
                }
              
            });
        });


        function validatePassword(password) {
            var reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@@$!%*#?&])[A-Za-z\d$@@$!%*#?&]{7,}$/;
            if (reg.test(password)) {
                return true;
            } else {
                return false;
            }
        }

    </script>
}